@import url('reset.css');
@import url('fuentes.css');

/*--- Estilos Generales ---*/

#main-content {
  background: white;
  width: 100%;
  max-width: 950px;
  margin: 15px auto;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

#main-content-panel {
  background: white;
  width: 100%;
  max-width: 1300px;
  margin: 15px auto;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

#main-content-tablet {
  background: white;
  width: 100%;
  max-width: 100%;
  margin: 10px auto;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  border-color: #666;
}