@import url('fuentes.css'); 

* {
	margin:0px;
	padding:0px;
}

body {
	background:url(../imagenes/background.jpg);
	background-position:center;

}

#wrap {
	width:1040px;
	margin:auto;
	clear:both;
}

input {
	width:400px;
	float:center;
	height:50px;
	margin:100px 300px;
	font-family:sourcesans;
	background: rgb(60,60,60); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(60,60,60,1) 0%, rgba(42,40,40,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(60,60,60,1)), color-stop(100%,rgba(42,40,40,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(60,60,60,1) 0%,rgba(42,40,40,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(60,60,60,1) 0%,rgba(42,40,40,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(60,60,60,1) 0%,rgba(42,40,40,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(60,60,60,1) 0%,rgba(42,40,40,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3c3c', endColorstr='#2a2828',GradientType=0 ); /* IE6-9 */
	border: 1px solid #232323;
	color:#fff;
	box-shadow:0px 2px 0px #000;
		-moz-box-shadow:0px 2px 0px #000;
		-webkit-box-shadow:0px 2px 0px #000;
	border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
}

input:active {
	background: rgb(42,40,40); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(42,40,40,1) 0%, rgba(60,60,60,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(42,40,40,1)), color-stop(100%,rgba(60,60,60,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(42,40,40,1) 0%,rgba(60,60,60,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(42,40,40,1) 0%,rgba(60,60,60,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(42,40,40,1) 0%,rgba(60,60,60,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(42,40,40,1) 0%,rgba(60,60,60,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2828', endColorstr='#3c3c3c',GradientType=0 ); /* IE6-9 */

}

input:hover {
	background:#3a3a3a;
}


h1 {
	text-align:center;
	color:#fff;
	font-weight: normal;
	font-size:40pt;
	margin:30px 0px;
	font-family:sourcesans;
}

header {
	width:100%;
	float:left;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #2f7e81 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#2f7e81)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#2f7e81 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#2f7e81 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#2f7e81 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#2f7e81 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#2f7e81',GradientType=0 ); /* IE6-9 */
	box-shadow:0px 3px 5px #000;
		-moz-box-shadow:0px 3px 5px #000;
		-webkit-box-shadow:0px 3px 5px #000;
}

#subheader {

	width:100%;
	margin:40px 180px 0px;
}

#logotipo {
	float:left;
	width:100%;
	padding:10px 0px;
}

#logotipo a {
	font-family:sourcesans-light;
	font-size: 50px;
	color:#000;
	margin: auto;
	text-decoration: none;
}

#logotipo a:hover {text-decoration:none}

/*Menu*/

header #subheader nav {
	float:left;
	width:560px;
	padding:30px 0px;
	text-align:right;
}

header #subheader nav ul li {
	display:inline;
	font-family:sourcesans;
}

header #subheader nav ul li a {
	color:#000;
	font-size: 18px;
	padding:10px 10px;
		border-radius:2px; 
		-moz-border-radius:2px; 
		-webkit-border-radius:2px;
}

header #subheader nav ul li input {
	color:#000;
	font-size: 18px;
	padding:10px 10px;
}

header #subheader nav ul li input:hover {
	color:#fff;
	background:#1798af;
	text-decoration:none;
}	

header #subheader nav ul li a:hover {
	color:#fff;
	background:#1798af;
	text-decoration:none;
}

