button {
 border: none;
 background: #3a7999;
 color: #f2f2f2;
 padding: 30px;
 font-size: 18px;
 border-radius: 15px;
 position: relative;
 box-sizing: border-box;
 transition: all 500ms ease;
}

button:before { /*transcision*/
 content:'';
 position: absolute;
 top: 0px;
 left: 0px;
 width: 0px;
 height: 75px; /*tamaño de la transcision*/
 background: rgba(255,255,255,0.3);
 border-radius: 15px;
 transition: all 2s ease;
}

button:hover:before {
 width: 100%;
}